/* line 1, ../../JIIC-NVM-HTML/scss/_reset.scss */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* line 12, ../../JIIC-NVM-HTML/scss/_reset.scss */
img {
  max-width: 100%;
  display: block;
}

/* line 17, ../../JIIC-NVM-HTML/scss/_reset.scss */
html {
  font-size: 62.5%;
}

@media (max-width: 1300px) {
  /* line 17, ../../JIIC-NVM-HTML/scss/_reset.scss */
  html {
    font-size: 58%;
  }
}

@media (max-width: 991px) {
  /* line 17, ../../JIIC-NVM-HTML/scss/_reset.scss */
  html {
    font-size: 62.5%;
  }
}

/* line 29, ../../JIIC-NVM-HTML/scss/_reset.scss */
html,
body {
  overflow: hidden;
}

/* line 34, ../../JIIC-NVM-HTML/scss/_reset.scss */
button {
  background-color: transparent;
  cursor: pointer;
}

/* line 1, ../../JIIC-NVM-HTML/scss/_grid.scss */
.container {
  width: 100%;
  max-width: 124.6rem;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 1, ../../JIIC-NVM-HTML/scss/_titles.scss */
h1 {
  font-weight: 600;
  font-size: 6.4rem;
}

@media (max-width: 1050px) {
  /* line 1, ../../JIIC-NVM-HTML/scss/_titles.scss */
  h1 {
    font-size: 5.2rem;
  }
}

@media (max-width: 991px) {
  /* line 1, ../../JIIC-NVM-HTML/scss/_titles.scss */
  h1 {
    font-size: 4.8rem;
  }
}

/* line 14, ../../JIIC-NVM-HTML/scss/_titles.scss */
h2 {
  font-weight: bold;
  font-size: 4rem;
}

/* line 19, ../../JIIC-NVM-HTML/scss/_titles.scss */
h3 {
  font-size: 2.4rem;
  line-height: 150%;
}

/* line 24, ../../JIIC-NVM-HTML/scss/_titles.scss */
p {
  font-size: 2rem;
  line-height: 155%;
  color: #FFFFFF;
}

/* line 29, ../../JIIC-NVM-HTML/scss/_titles.scss */
p h1,
p h2 {
  font-family: "Poppins", sans-serif;
  line-height: 112%;
  letter-spacing: -1px;
  color: #FFFFFF;
}

/* line 37, ../../JIIC-NVM-HTML/scss/_titles.scss */
p h3,
p h4 {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  font-weight: 500;
}

@media (max-width: 801px) {
  /* line 1, ../../JIIC-NVM-HTML/scss/_home.scss */
  html {
    font-size: 55.5%;
  }
}

/* line 8, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slides-jiic .swiper-pagination {
  left: 910px;
  position: absolute;
  width: 15rem;
}

/* line 13, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slides-jiic .swiper-pagination .swiper-pagination-bullet {
  background: white;
  opacity: 0.3;
  border-radius: 12px;
  transition: all 0.3s;
  position: relative;
}

/* line 19, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slides-jiic .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  border-radius: 17.23px;
}

@media (max-width: 937px) {
  /* line 27, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    left: 385px;
  }
}

@media (max-width: 1921px) {
  /* line 33, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    left: 887px;
  }
}

@media (max-width: 1460px) {
  /* line 39, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    left: 642px;
  }
}

@media (max-width: 1441px) {
  /* line 45, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    left: 642px;
  }
}

@media (max-width: 801px) {
  /* line 51, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    left: 323px;
  }
}

@media (max-width: 360px) {
  /* line 57, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    width: 36%;
    left: 122px;
  }
}

/* line 64, ../../JIIC-NVM-HTML/scss/_home.scss */
html body header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: #1B1B1B;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.8rem;
}

/* line 75, ../../JIIC-NVM-HTML/scss/_home.scss */
html body header h2 {
  margin-right: 10rem;
  color: #FFFFFF;
}

/* line 81, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 88, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 93, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-1 .container .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 98, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-1 .container .titulo img {
  height: 16.5rem;
  width: 17rem;
  margin-right: 4.7rem;
}

/* line 104, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-1 .container .titulo h1 {
  width: 100%;
  max-width: 40.7rem;
  text-align: initial;
  font-size: 100px;
  color: #FFFFFF;
}

@media (max-width: 1299px) {
  /* line 117, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-1 .container .titulo h1 {
    font-size: 85px;
  }
}

@media (max-width: 361px) {
  /* line 126, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-1 .container .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 132, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-1 .container .titulo h1 {
    font-size: 47px;
  }
  /* line 136, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-1 .container .titulo img {
    height: 11.5rem;
    width: 13rem;
    margin-right: 0;
  }
}

/* line 146, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 {
  padding-top: 7.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 154, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .header-s2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;
}

/* line 161, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 167, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .ideia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 172, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .ideia .paragrafo-1 {
  text-align: center;
  margin-bottom: 2.5rem;
}

/* line 176, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .ideia .paragrafo-2 {
  text-align: center;
}

/* line 181, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 186, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .titulo img {
  height: 16.5rem;
  width: 17rem;
  margin-right: 4.7rem;
}

/* line 192, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .titulo h1 {
  width: 100%;
  max-width: 40.7rem;
  text-align: initial;
  font-size: 10rem;
  color: #FFFFFF;
}

/* line 202, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .rodape-slide-2 {
  margin-top: 19rem;
}

/* line 204, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .rodape-slide-2 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 208, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .rodape-slide-2 .container h1 {
  color: #FFFFFF;
}

/* line 212, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .rodape-slide-2 .container h2 {
  color: #FFFFFF;
}

@media (max-width: 1281px) {
  /* line 146, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-2 {
    padding-top: 0;
  }
  /* line 220, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-2 .rodape-slide-2 {
    margin-top: 12rem;
  }
  /* line 224, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-2 .header-s2 {
    padding-top: 3rem;
  }
}

@media (max-width: 361px) {
  /* line 232, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-2 .container .ideia p {
    font-size: 1.4rem;
  }
  /* line 237, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-2 .rodape-slide-2 {
    margin-top: 3rem;
  }
}

/* line 243, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 {
  padding-top: 16rem;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 249, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* line 254, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .problema {
  display: flex;
  flex-direction: column;
}

/* line 257, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .problema h1 {
  margin-bottom: 5.5rem;
  color: #FFFFFF;
}

/* line 262, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .problema p {
  margin-bottom: 17.7rem;
  width: 100%;
  max-width: 73.2rem;
  color: #FFFFFF;
}

/* line 269, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .problema h2 {
  color: #FFFFFF;
}

/* line 274, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .icone-atencao {
  margin-left: 10.2rem;
  margin-top: 12.1rem;
}

/* line 277, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .icone-atencao img {
  height: 25.6rem;
}

@media (max-width: 1281px) {
  /* line 243, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-3 {
    padding-top: 6rem;
  }
}

@media (max-width: 801px) {
  /* line 290, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-3 .container .icone-atencao img {
    width: 369px;
  }
}

/* line 298, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 {
  padding-top: 25rem;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 304, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* line 309, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .objetivo {
  padding-right: 35.9rem;
  display: flex;
  flex-direction: column;
}

/* line 313, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .objetivo h1 {
  margin-bottom: 5.5rem;
  color: #FFFFFF;
}

/* line 318, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .objetivo p {
  margin-bottom: 17.7rem;
  width: 100%;
  max-width: 73.2rem;
  color: #FFFFFF;
}

/* line 325, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .objetivo h2 {
  color: #FFFFFF;
}

/* line 330, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .icone-telefone {
  position: absolute;
  margin-left: 10.2rem;
  margin-top: 12.1rem;
}

/* line 334, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .icone-telefone img {
  position: relative;
  left: 354px;
  top: -265px;
  height: 64.6rem;
}

@media (max-width: 1281px) {
  /* line 298, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-4 {
    padding-top: 18rem;
  }
}

@media (max-width: 1384px) {
  /* line 298, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-4 {
    padding-top: 16rem;
  }
}

@media (max-width: 801px) {
  /* line 354, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-4 .container .icone-telefone img {
    left: 169px;
    top: -191px;
    height: 54.6rem;
  }
}

/* line 364, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 {
  padding-top: 15rem;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 370, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 .container {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* line 375, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 .container .objetivo {
  display: flex;
  flex-direction: column;
}

/* line 378, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 .container .objetivo h1 {
  margin-bottom: 5.5rem;
  color: #FFFFFF;
}

/* line 383, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 .container .objetivo p {
  margin-bottom: 3.7rem;
  width: 100%;
  max-width: 73.2rem;
  color: #FFFFFF;
}

/* line 390, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 .container .objetivo h2 {
  margin-top: 4.2rem;
  color: #FFFFFF;
}

@media (max-width: 1280px) {
  /* line 364, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-5 {
    padding-top: 2rem;
  }
}

/* line 402, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 {
  padding-top: 20rem;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 408, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 .container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* line 413, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 .container .divulgacao {
  display: flex;
  flex-direction: column;
}

/* line 416, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 .container .divulgacao h1 {
  margin-bottom: 5.5rem;
  color: #FFFFFF;
}

/* line 421, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 .container .divulgacao p {
  margin-bottom: 3.7rem;
  width: 100%;
  max-width: 73.2rem;
  color: #FFFFFF;
}

/* line 428, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 .container .divulgacao h2 {
  margin-top: 4.2rem;
  color: #FFFFFF;
}

/* line 436, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 {
  padding-top: 20rem;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 442, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* line 447, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias {
  width: 100%;
  max-width: 70.4rem;
  display: flex;
  flex-direction: column;
}

/* line 452, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias h1 {
  text-align: center;
  margin-bottom: 5.5rem;
  color: #FFFFFF;
  margin-bottom: 17.7rem;
}

/* line 459, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias h2 {
  color: #FFFFFF;
}

/* line 462, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias .stacks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 468, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias .stacks ul {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13.7rem;
}

/* line 474, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias .stacks ul li {
  font-size: 100px;
}

@media (max-width: 1280px) {
  /* line 436, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-7 {
    padding-top: 7rem;
  }
}

/*# sourceMappingURL=main.css.map */