/* line 1, ../../JIIC-NVM-HTML/scss/_reset.scss */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* line 12, ../../JIIC-NVM-HTML/scss/_reset.scss */
img {
  max-width: 100%;
  display: block;
}

/* line 17, ../../JIIC-NVM-HTML/scss/_reset.scss */
html {
  font-size: 62.5%;
}

@media (max-width: 1300px) {
  /* line 17, ../../JIIC-NVM-HTML/scss/_reset.scss */
  html {
    font-size: 58%;
  }
}

@media (max-width: 991px) {
  /* line 17, ../../JIIC-NVM-HTML/scss/_reset.scss */
  html {
    font-size: 62.5%;
  }
}

/* line 29, ../../JIIC-NVM-HTML/scss/_reset.scss */
html,
body {
  overflow: hidden;
}

/* line 34, ../../JIIC-NVM-HTML/scss/_reset.scss */
button {
  background-color: transparent;
  cursor: pointer;
}

/* line 1, ../../JIIC-NVM-HTML/scss/_grid.scss */
.container {
  width: 100%;
  max-width: 124.6rem;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 1, ../../JIIC-NVM-HTML/scss/_titles.scss */
h1 {
  font-weight: 600;
  font-size: 6.4rem;
}

@media (max-width: 1050px) {
  /* line 1, ../../JIIC-NVM-HTML/scss/_titles.scss */
  h1 {
    font-size: 5.2rem;
  }
}

@media (max-width: 991px) {
  /* line 1, ../../JIIC-NVM-HTML/scss/_titles.scss */
  h1 {
    font-size: 4.8rem;
  }
}

/* line 14, ../../JIIC-NVM-HTML/scss/_titles.scss */
h2 {
  font-weight: bold;
  font-size: 4rem;
}

/* line 19, ../../JIIC-NVM-HTML/scss/_titles.scss */
h3 {
  font-size: 2.4rem;
  line-height: 150%;
}

/* line 24, ../../JIIC-NVM-HTML/scss/_titles.scss */
p {
  font-size: 2rem;
  line-height: 155%;
  color: #FFFFFF;
}

/* line 29, ../../JIIC-NVM-HTML/scss/_titles.scss */
p h1,
p h2 {
  font-family: "Poppins", sans-serif;
  line-height: 112%;
  letter-spacing: -1px;
  color: #FFFFFF;
}

/* line 37, ../../JIIC-NVM-HTML/scss/_titles.scss */
p h3,
p h4 {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  font-weight: 500;
}

@media (max-width: 800px) {
  /* line 1, ../../JIIC-NVM-HTML/scss/_home.scss */
  html {
    font-size: 55.5%;
  }
}

/* line 8, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slides-jiic .swiper-pagination {
  left: 800px;
  position: absolute;
  width: 15rem;
}

/* line 13, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slides-jiic .swiper-pagination .swiper-pagination-bullet {
  background: white;
  opacity: 0.3;
  border-radius: 12px;
  transition: all 0.3s;
  position: relative;
}

/* line 19, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slides-jiic .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  border-radius: 17.23px;
}

@media (max-width: 936px) {
  /* line 27, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    left: 385px;
  }
}

@media (max-width: 1920px) {
  /* line 33, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    left: 887px;
  }
}

@media (max-width: 1440px) {
  /* line 39, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    left: 642px;
  }
}

@media (max-width: 800px) {
  /* line 45, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    left: 323px;
  }
}

@media (max-width: 360px) {
  /* line 51, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    left: 122px;
  }
}

@media (max-width: 360px) {
  /* line 57, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slides-jiic .swiper-pagination {
    width: 36%;
  }
}

/* line 63, ../../JIIC-NVM-HTML/scss/_home.scss */
html body header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: #1B1B1B;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.8rem;
}

/* line 74, ../../JIIC-NVM-HTML/scss/_home.scss */
html body header h2 {
  margin-right: 10rem;
  color: #FFFFFF;
}

/* line 80, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 87, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 92, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-1 .container .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 97, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-1 .container .titulo img {
  height: 16.5rem;
  width: 17rem;
  margin-right: 4.7rem;
}

/* line 103, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-1 .container .titulo h1 {
  width: 100%;
  max-width: 40.7rem;
  text-align: initial;
  font-size: 100px;
  color: #FFFFFF;
}

@media (max-width: 1298px) {
  /* line 116, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-1 .container .titulo h1 {
    font-size: 85px;
  }
}

@media (max-width: 360px) {
  /* line 125, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-1 .container .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 131, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-1 .container .titulo h1 {
    font-size: 47px;
  }
  /* line 135, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-1 .container .titulo img {
    height: 11.5rem;
    width: 13rem;
    margin-right: 0;
  }
}

/* line 145, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 {
  padding-top: 7.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 153, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .header-s2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;
}

/* line 160, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 166, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .ideia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 171, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .ideia .paragrafo-1 {
  text-align: center;
  margin-bottom: 2.5rem;
}

/* line 175, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .ideia .paragrafo-2 {
  text-align: center;
}

/* line 180, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 185, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .titulo img {
  height: 16.5rem;
  width: 17rem;
  margin-right: 4.7rem;
}

/* line 191, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .container .titulo h1 {
  width: 100%;
  max-width: 40.7rem;
  text-align: initial;
  font-size: 10rem;
  color: #FFFFFF;
}

/* line 201, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .rodape-slide-2 {
  margin-top: 19rem;
}

/* line 203, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .rodape-slide-2 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 207, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .rodape-slide-2 .container h1 {
  color: #FFFFFF;
}

/* line 211, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-2 .rodape-slide-2 .container h2 {
  color: #FFFFFF;
}

@media (max-width: 1280px) {
  /* line 145, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-2 {
    padding-top: 0;
  }
  /* line 219, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-2 .rodape-slide-2 {
    margin-top: 12rem;
  }
  /* line 223, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-2 .header-s2 {
    padding-top: 3rem;
  }
}

@media (max-width: 360px) {
  /* line 231, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-2 .container .ideia p {
    font-size: 1.4rem;
  }
  /* line 236, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-2 .rodape-slide-2 {
    margin-top: 3rem;
  }
}

/* line 242, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 {
  padding-top: 16rem;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 248, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* line 253, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .problema {
  display: flex;
  flex-direction: column;
}

/* line 256, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .problema h1 {
  margin-bottom: 5.5rem;
  color: #FFFFFF;
}

/* line 261, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .problema p {
  margin-bottom: 17.7rem;
  width: 100%;
  max-width: 73.2rem;
  color: #FFFFFF;
}

/* line 268, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .problema h2 {
  color: #FFFFFF;
}

/* line 273, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .icone-atencao {
  margin-left: 10.2rem;
  margin-top: 12.1rem;
}

/* line 276, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-3 .container .icone-atencao img {
  height: 25.6rem;
}

@media (max-width: 1280px) {
  /* line 242, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-3 {
    padding-top: 6rem;
  }
}

@media (max-width: 800px) {
  /* line 289, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-3 .container .icone-atencao img {
    width: 369px;
  }
}

/* line 297, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 {
  padding-top: 25rem;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 303, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* line 308, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .objetivo {
  padding-right: 35.9rem;
  display: flex;
  flex-direction: column;
}

/* line 312, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .objetivo h1 {
  margin-bottom: 5.5rem;
  color: #FFFFFF;
}

/* line 317, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .objetivo p {
  margin-bottom: 17.7rem;
  width: 100%;
  max-width: 73.2rem;
  color: #FFFFFF;
}

/* line 324, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .objetivo h2 {
  color: #FFFFFF;
}

/* line 329, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .icone-telefone {
  position: absolute;
  margin-left: 10.2rem;
  margin-top: 12.1rem;
}

/* line 333, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-4 .container .icone-telefone img {
  position: relative;
  left: 354px;
  top: -265px;
  height: 64.6rem;
}

@media (max-width: 1280px) {
  /* line 297, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-4 {
    padding-top: 18rem;
  }
}

@media (max-width: 800px) {
  /* line 349, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-4 .container .icone-telefone img {
    left: 169px;
    top: -191px;
    height: 54.6rem;
  }
}

/* line 359, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 {
  padding-top: 15rem;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 365, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 .container {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* line 370, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 .container .objetivo {
  display: flex;
  flex-direction: column;
}

/* line 373, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 .container .objetivo h1 {
  margin-bottom: 5.5rem;
  color: #FFFFFF;
}

/* line 378, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 .container .objetivo p {
  margin-bottom: 3.7rem;
  width: 100%;
  max-width: 73.2rem;
  color: #FFFFFF;
}

/* line 385, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-5 .container .objetivo h2 {
  margin-top: 4.2rem;
  color: #FFFFFF;
}

@media (max-width: 1280px) {
  /* line 359, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-5 {
    padding-top: 2rem;
  }
}

/* line 397, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 {
  padding-top: 20rem;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 403, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 .container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* line 408, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 .container .divulgacao {
  display: flex;
  flex-direction: column;
}

/* line 411, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 .container .divulgacao h1 {
  margin-bottom: 5.5rem;
  color: #FFFFFF;
}

/* line 416, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 .container .divulgacao p {
  margin-bottom: 3.7rem;
  width: 100%;
  max-width: 73.2rem;
  color: #FFFFFF;
}

/* line 423, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-6 .container .divulgacao h2 {
  margin-top: 4.2rem;
  color: #FFFFFF;
}

/* line 431, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 {
  padding-top: 20rem;
  width: 100%;
  height: 100vh;
  background: #1B1B1B;
}

/* line 437, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* line 442, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias {
  width: 100%;
  max-width: 70.4rem;
  display: flex;
  flex-direction: column;
}

/* line 447, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias h1 {
  text-align: center;
  margin-bottom: 5.5rem;
  color: #FFFFFF;
  margin-bottom: 17.7rem;
}

/* line 454, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias h2 {
  color: #FFFFFF;
}

/* line 457, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias .stacks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 463, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias .stacks ul {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13.7rem;
}

/* line 469, ../../JIIC-NVM-HTML/scss/_home.scss */
html body .slide-7 .container .tecnologias .stacks ul li {
  font-size: 100px;
}

@media (max-width: 1280px) {
  /* line 431, ../../JIIC-NVM-HTML/scss/_home.scss */
  html body .slide-7 {
    padding-top: 7rem;
  }
}

/*# sourceMappingURL=main.css.map */