h1 {
  font-weight: 600;
  font-size: 6.4rem;

  @include responsive(1050px) {
    font-size: 5.2rem;
  }

  @include responsive(991px) {
    font-size: 4.8rem;
  }
}

h2 {
  font-weight: bold;
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 150%;
}

p {
  font-size: 2rem;
  line-height: 155%;
  color: $white;

  h1,
  h2 {
    font-family: "Poppins", sans-serif;
    line-height: 112%;
    letter-spacing: -1px;
    color: $white;
  }

  h3,
  h4 {
    font-family: "Poppins", sans-serif;
    color: $white;
    letter-spacing: -0.5px;
    font-weight: 500;
  }
}
